// Place all the styles related to the Stuffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5 {
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#test {
	border-bottom: 1px solid black;
	width: 300px
}
p {
	margin: 0px;
	margin-bottom: 10px;
}
input {
	margin-top: 10px;
}
#button {
	margin-top: 20px;
}